﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Backup.aspx.cs" Inherits="Producto.Vista.Backup" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<iframe src="http://www.facebook.com/plugins/like.php?href=www.facebook.com/filomenas.calzados"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

        <div>
        
           <FONT COLOR="white">Nombre del backup :</FONT> <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            <br />
            <br />
                        
            <asp:Button ID="Button1" runat="server" Text="Realizar Backup" onclick="Button1_Click" />
                <br /><br />

            <asp:Label ID="Label1" runat="server" Text="Label" ForeColor="White"></asp:Label>
        </div>
    


</asp:Content>
