﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="Producto.Vista.Login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="login">

            <asp:Login ID="Login2" runat="server" BorderStyle="Solid" ForeColor="White" 
            onauthenticate="Login2_Authenticate">
        </asp:Login>


    </div>
</asp:Content>
