﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Logout.aspx.cs" Inherits="Producto.Vista.Logout2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Styles/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="page">
       <div class="top">
       </div>
       <div class="foot">
       
       </div>
        <div class="main">
    
             <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>

        </div>
    </div>
    </form>
</body>
</html>
