﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Main.aspx.cs" Inherits="Producto.Vista.Main" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>

<asp:Content ID="Content2" runat="server" contentplaceholderid="ContentPlaceHolder1">
    <h2 class="titulos">MAKEUP</h2>

<img src="../img/zapatos1.jpg" alt="shoes" align="left" class ="img"/>

<asp:Label runat="server" ID="Label1" Text="<%$Resources:Global, description %>"></asp:Label>
</asp:Content>
