﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="RestaurarDigitosVerificadores.aspx.cs" Inherits="Producto.Vista.RestaurarDigitosVerificadores" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="btnRestaurardv" runat="server" Text="RestaurarDV" OnClick="btnRestaurardv_Click" />
</asp:Content>
