﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Restore.aspx.cs" Inherits="Producto.Vista.Restore" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:FileUpload ID="FileUpload1" runat="server" ForeColor="White" />
<br />
    <asp:Button ID="Button1" runat="server" Text="Realizar Restore" 
        onclick="Button1_Click" />
        <br />
        <br />

    <asp:Label ID="Label2" runat="server" Text="Label" ForeColor="White"></asp:Label>

</asp:Content>

