﻿

.compras
{
	background-color:red;
	width: 150px;
	margin-right:10px;
	margin-top:10px;
	float:right;
	height: 167px;
	
	
	
	
	
	
	
	
	
}
.divProductos
{
	
	height: 394px;
	overflow:auto;
	width:536px;
	float:left;
	
	
}
.fieldsetclass
{
	color: white;
	width: 561px;
	height: 430px;
	float:left;
}
.fieldsetProducto {
    color: white;
    width: 561px;
    height: 120px;
    float: left;
}
.tableProducts
{

border-collapse: collapse;
}
.thProduct
{
background-color: black;
color: white;
text-align: left;
padding: 0px 10px 0px 10px;
}
.tdPoduct
{
border: solid 1px black;
padding: 0px 10px 0px 10px;
background-color: orange;	
}
.ProdSel
{
	height: 537px;
	overflow :auto;
	width:auto;
}

.tableReg {
color: White;
font-weight: bold;
}
body 
{
    background-color:Black;
    color:white;
}
.bitacora
{
    width:240px;
    height:50px;
    float:left;
    margin-left:150px;
    background-color:Red;
}
.productos
{
    
    width:700px;
    height:520px;
    float:right;
    margin-right:35px;
    
   
}
.pro1
{
    /*background-color:white;*/
    width:240px;
    height:480px;
    float:left;
    
    
    
}
.pro2
{
    /*background-color:white;*/
    width:300px;
    height:445px;
    float:left;
    margin-left:50px;
    margin-top:0px;
    
}
.banner
{ 
    
    margin: 10px 200px 15px 100px;
    
    
    /*background-color:white;*/
    
    
    margin-left:50px;
    margin-top:0px;
    
}
.bannerRight
{
	margin-right:0px;
	margin-top:0px;
	
	
    
    
	
	
	
	
}
.newUser
{
    color:White;
    
   
}
.login
{
    float:right;
    margin-right:350px;
    margin-top:120px;
    /*background-color:Red;*/
    width:227px;
    height:50px;
    
}
.UploadImg
{
    float:right;
    margin-top:50px;
    
    width:227px;
    height:50px;
}
.titulos
{
    color:White;
}
.bold
{
    font-weight: bold;
    color:White;
}
.img
{
    background-color:Black;
    margin-right:10px;
    
}
.texto
{
    font-family:Times New Roman;
    text-align:justify;
    color:white;
    width: 550px;
    margin-left:50px;
}

.foot
{
    float:right;
    width:780px;
    height:48px;
    /*background-color:Green;*/
}
.bajo
{
	float:right;
    width:780px;
    height:48px;
    bottom:0px;
    
    
}
.main
{ 
    float:right;
    width:700px;
    height:520px;
    /*background-color:red;*/
    margin-right:30px;
    /*
    
    margin-left:10px;
    margin-top:100px;
    margin-bottom:10px;
    */
    /*background-image:url(../img/background.jpg);*/
    /*
    
*/   
}
.top
{
    text-align:right;
   
    float:right;
    /*margin-top:0px;
    margin-left:10px;
    
    width:100px;
    */
    height:50px;
    
    width:780px;
    /*background-color:Green;*/
    
}
.page
{
    background-image:url('../img/background.jpg');
    display:table;
    
    width: 1000px;
    background-color: #fff;
    margin: 80px 150px 80px 150px;
    border: 1px solid #496077;
 }   
.menu2
{
    
    background-color:Black;
    height: 80%;
}   
.menu
{
    background-image:url(../img/background.jpg);
    width:210px;
    height:620px;
    /*background-color:green;*/
    float:left;

    
    
}
.navbox {
	position: relative;
	float: left;
    top: 0px;
    left: 0px;
    width: 38px;
}

ul.nav {
	list-style: none;
	display: block;
	width: 162px;
	/*position: relative;*/
	top: 100px;
	left: 100px;
	padding: 60px 0 60px 0;
	background: url(shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

li {
	margin: 5px 0 0 0;
	
	  
}

    
ul.nav li a {
	-webkit-transition: all 0.3s ease-out;
	/*background: #cbcbcb url(border.png) no-repeat;*/
	color: white;
	/*color: #174867;*/
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.nav li a:hover {
	/*background: #ebebeb url(border.png) no-repeat;*/
	
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}
.mainP
{
    color: white;
}

/*GridViewStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td /*Common Styles*/
{
    padding: 5px;
    border-right: solid 1px #1d1d1d;
}
.RowStyle td
{
    background-color: #333333;
    color: #ffffff;
}
.AltRowStyle td
{
    background-color: #1d1d1d;
    color:#ffffff;
}
.SelectedRowStyle td
{
    background-color: #ffff66;
}

.GridViewStyle
{
    font-family: Arial, Sans-Serif;
    font-size:small;
    table-layout: auto;
    border-collapse: collapse;
    border: #1d1d1d 1px solid;
}
/*Header and Pager styles*/
.HeaderStyle
{
    background-image: url(../img/HeaderGamer.jpg);
    background-position:left;
    background-repeat:repeat-x;
    height:30px;
}
.PagerStyle
{
    background-image: url(../img/PagerGamer.jpg);
    background-position:top;
    background-repeat:repeat-x;
}
.HeaderStyle th
{
    padding: 0px;
    color: #ffffff;
}
.HeaderStyle a:link, a:visited
{
    text-decoration:none;
    color:#ffffff;
    display:block;
    text-align:left;
    font-weight:normal;
    border-left:solid 1px #666666;
    border-right:solid 1px #1d1d1d;
    padding-top:25px;
    padding-bottom:9px;
    padding-right:5px;
    padding-left:5px;
    background-image: url(../img/HeaderGamer.jpg);
    background-position:top;
    background-repeat:repeat-x;
}
.HeaderStyle a:hover
{
    background-image: url(../img/HeaderGamer_Hover.jpg);
    background-position:top;
    background-repeat:repeat-x;
}
.PagerStyle table
{
    text-align:center;
    margin:auto;
}
.PagerStyle table td
{
    border:0px;
    padding:5px;/*padding around pager numbers */
}
.PagerStyle td
{
    border-top: #1d1d1d 1px solid;/*top border of pager*/
    height:40px;
}
.PagerStyle a
{
    color:#ffffff;
    text-decoration:none;
    padding:2px 10px 2px 10px;
    /*border around pager numbers*/
    border-top:solid 1px #777777;
    border-right:solid 1px #333333;
    border-bottom:solid 1px #333333;
    border-left:solid 1px #777777;
}
.PagerStyle span
{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;
    padding:2px 10px 2px 10px;
}